.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    opacity: 1;

    transition: opacity $transition-time-function;
}

.backdrop__is-hidden  {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: $main-white-color;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform $transition-time-function;

    .backdrop__is-hidden & {
        transform: translate(-50%, 50%) scale(0.3);
    }
}

.modal__title {
    @include reset-h-p;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background-color: $main-white-color;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: fill $transition-time-function;

    &:hover, &:focus {
        fill: $brand-color;
    }
}

.backdrop-form {
    margin-top: 12px;
}

.backdrop-form__group {
    position: relative;

    &:not(:first-child) {
        margin-top: 10px;
    }
}

.backdrop-form__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $primary-font-color;
}

.backdrop-form__input {
    display: block;

    width: 100%;
    margin-top: 4px;
    padding: 11px 12px 11px 35px;

    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $primary-font-color;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border $transition-time-function;

    &:hover, &:focus {
        border: 1px solid $brand-color;
        outline-color: $brand-color;
    }
}

.backdrop-form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    pointer-events: none;

    transition: fill $transition-time-function;

    .backdrop-form__input:hover + &,
    .backdrop-form__input:focus + & {
        fill: $brand-color;
    }
}

.backdrop__comment {
    display: block;

    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;

    resize: none;

    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $primary-font-color;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border $transition-time-function;

    &:hover, &:focus {
        border: 1px solid $brand-color;
        outline-color: $brand-color;
    }

    &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.backdrop-form__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: $primary-font-color;

    cursor: pointer;
}

.checkbox-button {
    display: inline-block;

    width: 16px;
    height: 15px;
    margin-right: 7px;

    background-color: $main-white-color;
    border: 2px solid $main-black-color;
    border-radius: 2px;

    transition: background-color $transition-time-function, border $transition-time-function;

    &:hover, &:focus {
        border: 2px solid $brand-color;
    }

    .backdrop-form__checkbox--checked:hover + &, 
    .backdrop-form__checkbox--checked:focus + & {
        border: 2px solid $brand-color;
    }

    .backdrop-form__checkbox--checked:checked + & {
        background-image: url(../images/checkbox-button.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $brand-color;
        // border: $brand-color;
        background-origin: border-box;
    }

}

.backdrop-form__terms {
    display: inline-block;
    margin-left: 3px;
}

.backdrop-form__button {
    margin-top: 30px;
    padding-right: 55px;
    padding-left: 55px;
}