.footer-styles {
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: $some-section-color;
}

.footer-styles__positioning {
    &--second {
        margin-left: 70px;
    }
}

.add-link {
    display: block;

    margin-top: 20px;

    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-white-color;
    text-decoration: none;

    transition: color $transition-time-function;

    &:hover, &:focus {
        color: $brand-color;
    }
}

.footer-styles__social-networks {
    margin-top: 20px;
}

.subscribe-form {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.subscribe-form__group {
    display: flex;
    flex-direction: column;
}

.subscribe-form__label {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: $main-white-color;
}

.subscribe-form__input {
    width: 358px;

    padding: 15px 16px;
    margin-top: 20px;
    margin-right: 12px;

    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $main-white-color;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: border $transition-time-function, outline $transition-time-function;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;

        color: rgba(255, 255, 255, 0.6);
    }

    &:hover, &:focus {
        outline: 1px solid $main-white-color;
        border: 1px solid $main-white-color;
    }
}
