.section {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;

    &__services {
        padding-top: 0;
    }

    &__team {
        background-color: #F5F4FA;
    }
}

.section__heading {
    @include reset-h-p;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}