.add {
    display: block;

    margin-top: 20px;

    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-white-color;
    text-decoration: none;

    transition: color $transition-time-function;

    &:hover, &:focus {
        color: $brand-color;
    }
}