.button {
    display: block;
    min-width: 73px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    text-align: center;

    border: none;
    border-radius: 4px;

    transition: box-shadow $transition-time-function, background-color $transition-time-function, color $transition-time-function;

    &--blue {
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
       
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    
        background-color: $brand-color;
    
        &:hover, &:focus {
            background-color: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }

    &--grey {
        padding: 6px 22px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: $main-black-color;
    
        background-color: #F5F4FA;
    
        &:hover, &:focus {
            color: $main-white-color;
            background-color: $brand-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
     }

    &--with-icon{
        display: flex;
        align-items: center;
   
        padding-right: 28px;
        padding-left: 28px;
    }
}

.button__icon--right {
     margin-left: 10px;
 }