.card-wrapper {
    &:not(:first-child) {
    margin-left: 30px;
    }
}

.card-wrapper__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    background: #F5F4FA;
    border-radius: 4px;
}

.card-wrapper__title {
    @include reset-h-p;

    font-size: $primary-font-size;
    line-height: 1.14;

    &--uppercase {
        font-weight: 700;
        text-transform: uppercase;
    }

    &--white {
        color: $main-white-color;
    }

    &--black {
        color: $main-black-color;
    }
}

.card-wrapper__text {
    @include reset-h-p;
    
    font-size: 14px;
    line-height: 1.71; 
    color: $primary-font-color;
}

.card-wrapper__image, 
.card-wrapper__link {
    display: block;
}