.class-for-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: $some-section-color;

    &__positioning--second {
        margin-left: 70px;
    }

    &__positioning--third {
        display: flex;
        margin-left: auto;
    }
}



