.clients-list {
    display: flex;

    margin: 0;
    padding: 0;
    margin-top: 50px;

    list-style: none;
}

.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    border-width: 1px;
    border-style: solid;
    border-color: #AFB1B8;
    border-radius: 4px;

    transition: border-color $transition-time-function;

    &:hover, &:focus {
        border-color: $brand-color;
    }
}

.clients-list__icon {
    fill: #AFB1B8;

    transition: fill $transition-time-function;

    .clients-list__link:hover &,
    .clients-list__link:focus & {
        fill: $brand-color;
    }
}