.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
}

.container__flex {
    display: flex;
    justify-content: center;
    align-items: center;

    &--baseline {
        align-items: baseline;
    }

    &--column {
        flex-direction: column;
    }
}



