.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-flex--baseline {
    align-items: baseline;
}

.container-flex--column {
    flex-direction: column;
}