.team-section {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;

    margin: 0;
    padding: 0;
    margin-top: 50px;

    list-style: none;
}

.team-list__card {
    width: 270px;

    background-color: $main-white-color;
}

.team-list__image {
    max-width: 270px;
}

.team-list__info-wrapper {
    padding: 30px 32px;
    text-align: center;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__name {
    font-weight: 500;
    color: $main-black-color;
}

.team-list__position {
    margin-top: 10px;
}

.team-list__social-networks {
    margin-top: 16px;
}

.team-list__icon {
    fill: #AFB1B8;

    
    &:hover, &:focus {
        fill: $main-white-color;
    }
}